body {
    color: #707C80;
    font-size: 15px;
    font-family: "Bariol-Regular",serif;
    background-color: #F6F6F6;
    height: 100%; 
}

.main-content {
    margin: 0px auto;
    max-width: 1290px;
}

#home {
    position: relative;
    text-align: center;
    height: 800px;
    width: 100%;
    overflow: hidden;
    background-color: #707C80;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
    overflow: hidden;
}

#about-me {
    background: #fff;
    position: relative;
    height: 860px;
    overflow: hidden;
    height: auto;
    width: 100%;
    padding: 0px 0px;
}

#quotes {
    background-color: #FFF;
    text-align: center;
    position: relative;
    padding: 125px 0px;
}

.row.no-pad {
    margin-right: 0px;
    margin-left: 0px;
}

.row.no-pad {
    padding-left: 0px;
    padding-right: 0px;
}